<template>
  <YanfomaLayout>
    <WebShowcase color="#fff" />
    <PricingTable color="#e9e7f0" />
    <Portfolio color="" />
  </YanfomaLayout>
</template>

<script>
export default {
  metaInfo: {
    title: "Be Online Yanfoma"
  }
};
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
