<template>
  <YanfomaLayout>
    <div class="xs-section-padding">
      <div class="xs-section-padding">
        <div class="xs-section-padding">
          <h1>
            Sell Online Page
          </h1>
        </div>
      </div>
    </div>
  </YanfomaLayout>
</template>

<script>
export default {
  metaInfo: {
    title: "Hello, world!"
  }
};
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
