<template>
  <YanfomaLayout>
    <!-- <section class="domain-price-section details domain-price-v2 xs-section-padding xs-bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="xs-heading wow fadeIn">
              <h3 class="heading-title">
                <span>Details de la Candidature</span>
              </h3>
            </div>
          </div>
          <div class="table-responsive-md wow fadeIn">
            <table class="table xs-table">
              <thead class="domain-pricing-header">
                <tr>
                  <th scope="col">Projet</th>
                  <th scope="col">Equipe</th>
                  <th scope="col">Contacts</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ $page.candidate.teamName }}</td>
                  <td>{{ $page.candidate.phone }} / {{ $page.candidate.email }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive-md wow fadeIn xs-section-padding">
            <table class="table xs-table">
              <thead class="domain-pricing-header">
                <tr>
                  <th scope="col">Résumé Du Projet</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ $page.candidate.resume }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive-md wow fadeIn xs-section-padding">
            <table class="table xs-table">
              <thead class="domain-pricing-header">
                <tr>
                  <th scope="col">Membres</th>
                  <th scope="col">Responsable</th>
                  <th scope="col">Université</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ $page.candidate.members }}</td>
                  <td>{{ $page.candidate.responsable }}</td>
                  <td>{{ $page.candidate.university }}</td>
                  <td>{{ format_date($page.candidate.date) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 offset-md-4">
            <g-link to="/applications" class="btn btn-primary">Retour aux Applications</g-link>
          </div>
        </div>
      </div>
    </section>-->
  </YanfomaLayout>
</template>

<script>
import moment from "moment";
export default {
  metaInfo: {
    title: "Details de Candidature"
  },
  async mounted() {
    this.id = this.$route.params;
  },
  data() {
    return {
      id: null
    };
  },
  methods: {
    format_date(value) {
      //return value.substring(0, 10);
      return moment(String(value)).format("MM/DD/YYYY");
    }
  }
};
</script>

<style scoped>
.details {
  margin-top: 30px !important;
  background: #e3fafc !important;
}
</style>
