<template>
  <YanfomaLayout>
    <section class="xs-banner banner-v3 contet-to-center">
      <div class="container" style="margin-top: 131.1764678955078px;">
        <div class="row">
          <div class="col-md-12 align-self-center">
            <div class="xs-banner-content">
              <h1 class="banner-title wow fadeInLeft animated text-center">Liste des projets Soumis</h1>
              <div class="col-md-4 offset-md-4"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="domain-price-section domain-price-v2 xs-section-padding xs-bg-gray">
      <div class="container">
        <div class="row" v-if="data">
          <div class="col-md-12 mx-auto">
            <div class="xs-heading wow fadeIn" style="margin-top: -70px;margin-bottom: -70px;">
              <h3 class="heading-title">
                {{count}}
                <span>Candidature(s)</span>
              </h3>
            </div>
          </div>
          <div class="col-md-12">
            <div id="accordion">
              <div class="card" v-for="(project, index) in data" :key="index">
                <div class="card-header" :id="`heading${index}`">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link"
                      data-toggle="collapse"
                      :data-target="`#collapse${index}`"
                      :aria-expanded="index == 0 ? 'true' : 'false'"
                      :aria-controls="`collapse${index}`"
                    >Projet {{index + 1 }}: {{ project.projectName }}</button>
                  </h5>
                </div>
                <div
                  :id="`collapse${index}`"
                  class="collapse"
                  :class="index == 0 ? 'show' : '' "
                  :aria-labelledby="`heading${index}`"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                    <table class="table xs-table">
                      <thead class="domain-pricing-header">
                        <tr>
                          <th scope="col">Nom du Projet</th>
                          <th scope="col">Nom de l'equipe</th>
                          <th scope="col">Contacts</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ project.projectName }}</td>
                          <td>{{ project.teamName }}</td>
                          <td>{{ project.phone }} / {{ project.email }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table xs-table" style="margin-top: 20px;">
                      <thead class="domain-pricing-header">
                        <tr>
                          <th scope="col">Pays</th>
                          <!-- <th scope="col">Université</th> -->
                          <th scope="col">Responsable</th>
                          <th scope="col">Membres</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ project.country }}</td>
                          <!-- <td>{{ project.university }}</td> -->
                          <td>{{ project.responsable }}</td>
                          <td>{{ project.members }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table xs-table" style="margin-top: 20px;">
                      <thead class="domain-pricing-header">
                        <tr>
                          <th scope="col">Résumé du projet</th>
                          <th scope="col">Date De soumission</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ project.resume }}</td>
                          <td>{{ format_date(project.createdAt) }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="xs-heading wow fadeIn" v-else>
          <h3 class="heading-title">
            Aucune candidature {{ data }}
            <span>soumise !!!</span>
          </h3>
        </div>
      </div>
    </section>

    <section class="message contet-to-center">
      <div class="container" style="margin-top:10px;">
        <div class="row">
          <div class="col-md-12 align-self-center">
            <div class="card">
              <div class="card-body">Veuillez consulter la liste sur ordinateur. Merci !!!</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </YanfomaLayout>
</template>

<script>
import Axios from "axios";
import moment from "moment";
export default {
  metaInfo: {
    title: "Projets Soumis"
  },
  data() {
    return {
      data: {}
    };
  },
  mounted() {
    this.getCandidates();
  },
  computed: {
    count() {
      return this.data && this.data.length;
    }
  },
  methods: {
    getCandidates() {
      Axios.get("https://api.yanfoma.com/candidater/all").then(response => {
        //console.log(response);
        this.data = response.data;
      });
    },
    format_date(value) {
      //return value.substring(0, 10);
      return moment(String(value)).format("MM/DD/YYYY");
    },
    shortenText(text) {
      return text.slice(0, 100) + "...";
    }
  }
};
</script>

<style scoped>
.message {
  display: none;
}
.card-header {
  border-radius: 15px;
  text-align: center;
  color: #103dbe;
  background: #dfe7fb;
}
.btn-link {
  color: #103dbe;
  font-weight: bold;
  font-size: 25px;
}
.xs-table td {
  color: black !important;
}

.card {
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #103dbe;
}

.banner-title {
  font-size: 50px;
  margin-bottom: 45px;
}
.xs-banner.banner-v3 {
  min-height: 400px;
}

@media (min-width: 1024px) {
  .banner-title {
    font-size: 40px !important;
    text-align: center !important;
    margin-top: -30px !important;
    line-height: 2;
    margin-bottom: 30px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 50px !important;
    margin-top: 50px !important;
  }
}

@media (max-width: 1024px) {
  .banner-title {
    font-size: 25px !important;
    text-align: center !important;
    margin-top: 0px !important;
    line-height: 2;
    margin-bottom: 10px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 0px !important;
    margin-top: 0px !important;
  }
}

@media (max-width: 579px) {
  .message {
    display: block;
  }
  .domain-price-section {
    display: none;
  }
}

@media (max-width: 320px) {
  .banner-title {
    font-size: 20px !important;
  }
}

.form-control,
.select-styled {
  border: 1px solid #103dbe !important;
  border-radius: 2px !important;
}
#contact {
  margin-top: 30px;
}
.programme {
  padding: 30px 0px;
  background: rgb(243, 228, 199) !important;
}
</style>
