<template>
  <YanfomaLayout>
    <section
      class="domain-price-section domain-price-v2 xs-section-padding xs-bg-gray"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="xs-heading wow fadeIn">
              <h3 class="heading-title">
                <span>Details de la Candidature </span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </YanfomaLayout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Candidate'
  }
};
</script>
