<template>
  <YanfomaLayout>
    <section class="xs-banner banner-v3 contet-to-center">
      <div class="container" style="margin-top: 131.1764678955078px;">
        <div class="row">
          <div class="col-md-12 align-self-center">
            <div class="xs-banner-content">
              <h1 class="banner-title wow fadeInLeft animated text-center">
                Makers Championship
              </h1>
              <div class="col-md-4 offset-md-4">
                <div
                  class="xs-btn-wraper button wow fadeInUp animated"
                  data-wow-duration="1.7s"
                >
                  <!-- <a href="#inscription" class="btn btn-primary">Register</a> -->
                  <a href="/championat" class="btn btn-outline-primary"
                    >Francais</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="xs-section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div
              class="xs-heading wow fadeIn animated"
              style="visibility: visible; animation-name: fadeIn;"
            >
              <h3 class="heading-title">
                <span>Présentation</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="terms-wraper wow fadeInUp animated"
              style="visibility: visible; animation-name: fadeInUp;"
            >
              <p class="text-justify">
                Le championnat des makers est un marathon qui veut en fait
                regrouper les jeunes technophiles autour d’une compétition et
                leurs permettre de libérer leurs génies créateurs dans
                l’innovation. La compétition opposera les universités, les
                écoles techniques et les fablabs du Burkina Faso, le Cameroun, la Côte d'Ivoire et le Rwanda.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <section class="xs-section-padding xs-hosting-info">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 align-self-center">
            <section>
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="xs-heading wow fadeIn">
                      <div class="alert alert-danger" role="alert">
                        <i class="fa fa-1x fa-info-circle"></i> Registration
                        closed !!!
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="server-price-wraper">
                      <h4 class="xs-title text-center">
                        List of Registered Projects
                      </h4>
                      <div class="table-responsive">
                        <table class="table table-striped server-price-table">
                          <thead>
                            <tr>
                              <th scope="col">Project Name</th>
                              <th scope="col">Team Name</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>FAHIA Water Filter</td>
                              <td>FAHIA</td>
                            </tr>
                            <tr>
                              <td>Ma Santé en Poche</td>
                              <td>B-iTech</td>
                            </tr>
                            <tr>
                              <td>Technicien</td>
                              <td>Souleymane</td>
                            </tr>
                            <tr>
                              <td>3S Security</td>
                              <td>3S Security</td>
                            </tr>
                            <tr>
                              <td>
                                Sonnerie et éclairage extérieurs intelligents
                              </td>
                              <td>Innovates Technologies</td>
                            </tr>
                            <tr>
                              <td>Smart irrigation</td>
                              <td>Smart irrigation</td>
                            </tr>
                            <tr>
                              <td>PlastSorting</td>
                              <td>TlS lll</td>
                            </tr>
                            <tr>
                              <td>Tiligré V2</td>
                              <td>Tiligré</td>
                            </tr>
                            <tr>
                              <td>Mnam mve</td>
                              <td>Mnam</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-lg-6 align-self-center">
            <div
              class="hosting-info-wraper-2 wow fadeInLeft animated"
              data-wow-duration="1.5s"
              style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;"
            >
              <h2 class="content-title">Presentation of the event</h2>
              <div class="media hosting-info-list">
                <div class="media-body">
                  <h4
                    class="xs-title small text-justify"
                    style="line-height:1.6"
                  >
                    The development of a country is based on its technology.
                    Only the level of technology can allow a nation to leap into
                    the future. It is in the same vision that yanfoma decided to
                    promote technological innovation by organizing the Makers
                    Championship.
                    <br />
                    <br />The maker championship is a marathon which in fact
                    wants to bring together young technophiles around a
                    competition and allow them to unleash their creative
                    geniuses in innovation. The competition will pit
                    universities, technical schools and fablabs in Burkina Faso,
                    Cameroon, Côte d'Ivoire and Rwanda.
                    <br />
                    <br />
                    <strong
                      >All candidates who have passed the first stage will have
                      certificates of participation.</strong
                    >
                    <br />
                    <br />
                    <strong
                      >The winner will have an investment fund of 1,500 US
                      dollars (1,500 USD).</strong
                    >
                  </h4>
                </div>
              </div>
            </div>
            <!-- .hosting-info-wraper-2 END -->
          </div>
          <div class="col-lg-6">
            <div
              class="hosting-info-img wow fadeInRight animated"
              data-wow-duration="2s"
              style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;"
            >
              <img
                src="https://res.cloudinary.com/yanfomaweb/image/upload/v1582807647/Yanfoma/championat_des_Makers_2020_En.jpg"
                alt="Hosting info image"
                draggable="false"
              />
            </div>
          </div>
        </div>
        <!-- .row END -->
      </div>
      <!-- .container END -->
    </section>
    <section class="xs-section-padding included-feature-list bg-gradient">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div
              class="xs-heading wow fadeIn animated"
              style="visibility: visible; animation-name: fadeIn;"
            >
              <h3 class="heading-title">Program</h3>
              <h2 class="heading-sub-title">
                The Makers Championship will take place in several phases.
              </h2>
            </div>
            <!-- .xs-heading END -->
          </div>
        </div>
        <!-- .row END -->
        <div class="row">
          <div class="col-lg-6">
            <div class="include-feature-list">
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <img
                    src="https://res.cloudinary.com/yanfomaweb/image/upload/v1582805812/Yanfoma/included-feature-5.png"
                    alt="included feature icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title">1- Registration</h4>
                  <p class="text-justify">
                    This phase will be dedicated to the online registration of
                    the candidates on Yanfoma platform. You will find the
                    registration form just below. Fill in all the fields and
                    your team will be registered.
                  </p>
                  <br />
                  <p>
                    <strong>Date: March 15, 2020</strong>
                  </p>
                </div>
              </div>
              <!-- .hosting-info-list END -->
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <img
                    src="https://res.cloudinary.com/yanfomaweb/image/upload/v1582805816/Yanfoma/included-feature-4.png"
                    alt="included feature icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title">2- Elimination</h4>
                  <p class="text-justify">
                    Each candidate will submit a demo of their product so that
                    the jury can assess the level of development and the
                    potential.
                  </p>
                  <br />
                  <p>
                    <strong>Date: May 31, 2020</strong>
                  </p>
                  <br />
                  <br />
                </div>
              </div>
            </div>
            <!-- .include-feature-list END -->
          </div>
          <div class="col-lg-6">
            <div class="include-feature-list">
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <img
                    src="https://res.cloudinary.com/yanfomaweb/image/upload/v1582805816/Yanfoma/included-feature-4.png"
                    alt="included feature icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title">
                    3- Commercial Evaluation of the Project
                  </h4>
                  <p class="text-justify">
                    After the elimination phases, we will launch an online
                    voting period so that the public can vote for their favorite
                    project and choose according to them, the project that could
                    have the most impact and whose product could make the most
                    profit and sales.
                  </p>
                  <br />
                  <p>
                    <strong>Date: June 1, 2020</strong>
                  </p>
                </div>
              </div>
              <!-- .hosting-info-list END -->
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <img
                    src="https://res.cloudinary.com/yanfomaweb/image/upload/v1582805820/Yanfoma/included-feature-2.png"
                    alt="included feature icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title">4- The Finale</h4>
                  <p class="text-justify">
                    The selected projects for the grand finale will be showcased
                    in their country and public votes will be held, the total of
                    which will constitute a well-defined percentage of the final
                    score. The evaluation will be made according to the level of
                    improvement of the product and on the vote of the public.
                  </p>
                  <br />
                  <p>
                    <strong>Date: October 9, 2020</strong>
                  </p>
                </div>
              </div>
            </div>
            <!-- .include-feature-list END -->
          </div>
        </div>
      </div>
      <!-- .container END -->
    </section>
    <!-- <section class="xs-section-padding2 programme" style="background:#e3fafc !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div
              class="xs-heading wow fadeIn animated"
              style="visibility: visible; animation-name: fadeIn;"
            >
              <h3 class="heading-title">
                <span>Programme</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="terms-wraper wow fadeInUp animated"
              style="visibility: visible; animation-name: fadeInUp;"
            >
              <p class="text-center">Le championnat des Makers se déroulera en plusieurs phases.</p>
              <ol class="order-list">
                <li class="text-justify">
                  <strong>Inscriptions</strong>
                  <br />Cette phase sera dédiée à l’inscription en ligne des
                  différents candidats sur la plateforme de Yanfoma.
                  <br />
                  <strong>Date: 15 Mars 2020</strong>
                </li>
                <li class="text-justify">
                  <strong>Eliminatoires</strong>
                  <br />Chaque candidat se tachera d'envoyer une démo de son produit
                  afin que le jury puisse évaluer son niveau de développement et son potentiel.
                  <br />
                  <strong>Date: 31 Mai 2020</strong>
                </li>
                <li class="text-justify">
                  <strong>Evaluation commerciale du projet</strong>
                  <br />Après les phases éliminatoires, nous lancerons une période de
                  vote en ligne afin qu'un public cible des pays concernés puisse voter les projets en
                  compétition et choisir selon eux, le projet qui pourrait avoir le plus d’impact, le projet dont le produit pourrait être le plus vendu et qui pourrait plus facilement porter des fruits.
                  <br />
                  <strong>Date: 1 Juin 2020</strong>
                </li>
                <li class="text-justify">
                  <strong>Finale</strong>
                  <br />Les projets finalistes seront exposés, chacun dans leur pays et des votes du public se tiendront, dont le total constitura un pourcentage bien défini des notes de la finale.
                  Notons que les candidats à la finale seront évalués en fonction du niveau d’amélioration
                  du produit et sur le vote du public.
                  <br />
                  <strong>Date: 9 Octobre 2020</strong>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <!-- <section
      class="xs-section-padding"
      id="inscription"
      v-if="!loading && !done"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="xs-heading wow fadeIn">
              <h3 class="heading-title">
                Register
                <span>Your Team</span>
              </h3>
            </div>
          </div>
        </div> -->
    <!-- .row END -->
    <!-- <form
          action="#"
          method="post"
          class="xs-form"
          v-on:submit.prevent="handleSubmit"
          data-netlify="true"
          data-netlify-honeypot="bot-field"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="hidden" name="form-name" value="contact" />
                <p hidden>
                  <label>
                    Don’t fill this out:
                    <input name="bot-field" />
                  </label>
                </p>
                <label for="projectName">Project Name*</label>
                <input
                  type="text"
                  class="form-control"
                  name="projectName"
                  placeholder="Project Name"
                  required
                  v-model="formData.projectName"
                />
                <label for="resume">Project Summary*</label>
                <textarea
                  class="form-control"
                  rows="5"
                  id="resume"
                  name="resume"
                  v-model="formData.resume"
                  required
                ></textarea>
                <label for="country">Country*</label>
                <select class="form-control" name="country" v-model="formData.country" required>
                  <option selected value disabled>Country</option>
                  <option value="Burkina Faso">Burkina Faso</option>
                  <option value="Cameroun">Cameroon</option>
                  <option value="Côte d'Ivoire">Ivory Coast</option>
                  <option value="Rwanda">Rwanda</option>
                </select>
                <input
                  type="hidden"
                  class="form-control"
                  name="university"
                  placeholder="School / University"
                  required
                  v-model="formData.university"
                />
                <label for="phone">WhatsApp Number *</label>
                <input
                  type="number"
                  class="form-control"
                  name="phone"
                  placeholder="Phone Number"
                  required
                  v-model="formData.phone"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="teamName">Team Name *</label>
                <input
                  type="text"
                  class="form-control"
                  name="teamName"
                  placeholder="Team Name "
                  required
                  v-model="formData.teamName"
                />

                <label for="members">Team Members (Last & First names)*</label>
                <textarea
                  class="form-control"
                  rows="5"
                  id="members"
                  name="members"
                  v-model="formData.members"
                  required
                ></textarea>
                <label for="responsable">Team Leader *</label>
                <input
                  type="text"
                  class="form-control"
                  name="responsable"
                  placeholder="Team Leader's name & first name"
                  required
                  v-model="formData.responsable"
                />
                <label for="email">Contact Email *</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Addresse Email"
                  required
                  v-model="formData.email"
                />
              </div>
            </div>
          </div>
          <div class="xs-btn-wraper">
            <input type="submit" class="btn btn-primary" value="Send" />
          </div>
          <section
            class="doneWrapper1"
            style="margin-top:50px; background:#fff3cd !important; padding:40px;! important"
          >
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="xs-heading wow fadeIn">
                    <div class="loader text-center">
                      <i class="fa fa-2x fa-info-circle"></i>
                      <br />
                    </div>
                    <p style="color:black;font-weight:bold;">
                      Is your country not on the list? Don't worry. You can register your country to the competition. To do so please click on the link below.
                      <br />
                      <br />
                      <a
                        class="btn btn-primary"
                        href="https://share.hsforms.com/1DLOxZZlVSmy9eNVX5nHBdg407wz"
                      >Register my country to the competition</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form> -->
    <!-- </div>
    </section> -->
    <!-- <Loader v-else-if="loading && !done" /> -->
    <!-- <Done v-else-if="done" :type="doneType" lang="en" /> -->
    <section class="xs-section-padding" style="background:#e3fafc !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div
              class="xs-heading wow fadeIn animated"
              style="visibility: visible; animation-name: fadeIn;"
            >
              <h2 class="heading-sub-title">Any Questions?</h2>
              <h3 class="heading-title">
                CONTACT
                <span>US</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <ContactItem
            title="BURKINA FASO"
            phone="(+226) 78235890 / (+226) 71331523"
          />
          <ContactItem
            title="COTE D'IVOIRE"
            phone="(+225) 08 23 62 20 / (+225) 78 66 86 72"
          />
          <ContactItem title="RWANDA" phone="(+250) 783 213 002" />
          <ContactItem title="CAMEROON" phone="(+237) 6 73 71 31 15" />
        </div>
      </div>
    </section>
  </YanfomaLayout>
</template>

<script>
import Axios from 'axios';
export default {
  metaInfo: {
    title: 'Championat des Makers'
  },
  data() {
    return {
      formData: {
        country: '',
        university: 'university',
        lang: 'en'
      },
      loading: false,
      done: false,
      doneType: false
    };
  },
  methods: {
    handleSubmit(e) {
      this.loading = true;
      console.log(this.formData);
      Axios.post('https://api.yanfoma.com/candidater', this.formData)
        .then(response => {
          // console.log(response);
          this.loading = false;
          this.done = true;
          this.doneType = true;
        })
        .catch(error => {
          // console.log(error);
          this.loading = false;
          this.done = true;
          this.doneType = false;
        });
    }
  }
};
</script>

<style>
.server-price-table tr td {
  font-size: 20px !important;
}
.server-price-table th {
  font-size: 20px !important;
  font-weight: bold !important;
}
.banner-title {
  font-size: 50px;
  margin-bottom: 45px;
}
.xs-banner.banner-v3 {
  min-height: 400px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .banner-title {
    font-size: 30px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    width: 500px !important;
    margin-left: -60px !important;
    margin-bottom: 20px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
}

@media (max-width: 1024px) {
  .banner-title {
    font-size: 30px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    width: 500px !important;
    margin-left: -60px !important;
    margin-bottom: 20px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
}

@media (max-width: 768px) {
  .banner-title {
    font-size: 30px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    width: 500px !important;
    margin-left: -60px !important;
    margin-bottom: 20px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .banner-title {
    font-size: 20px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    /* border: 2px solid red; */
    width: 500px !important;
    margin-left: 120px !important;
    margin-bottom: 20px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
}

@media (max-width: 480px) {
  .banner-title {
    font-size: 18px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    /* border: 2px solid red; */
    margin-left: 100px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
}

@media (max-width: 425px) {
  .banner-title {
    font-size: 18px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    /* border: 2px solid red; */
    margin-left: 80px !important;
  }
}

@media (max-width: 360px) {
  .banner-title {
    font-size: 18px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    margin-left: 10px !important;
  }
}

@media (max-width: 320px) {
  .banner-title {
    font-size: 20px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
  .button {
    margin-left: 10px !important;
  }
}
.form-control,
.select-styled {
  border: 1px solid #103dbe !important;
  border-radius: 2px !important;
}
#contact {
  margin-top: 30px;
}
.programme {
  padding: 30px 0px;
}
.terms-wraper p,
.order-list {
  color: black !important;
}
</style>
