<template>
  <YanfomaLayout>
    <section class="xs-banner banner-v3 contet-to-center">
      <div class="container" style="margin-top: 131.1764678955078px;">
        <div class="row">
          <div class="col-md-12 align-self-center">
            <div class="xs-banner-content">
              <h1 class="banner-title wow fadeInLeft animated text-center">
                Championnat des Makers
              </h1>
              <div class="col-md-4 offset-md-4">
                <div
                  class="xs-btn-wraper button wow fadeInUp animated"
                  data-wow-duration="1.7s"
                >
                  <!-- <a href="#inscription" class="btn btn-primary">S'inscrire</a> -->
                  <a href="/championship" class="btn btn-outline-primary"
                    >English</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="xs-section-padding xs-hosting-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="xs-heading wow fadeIn">
              <div class="alert alert-danger" role="alert">
                <i class="fa fa-1x fa-info-circle"></i> Les Inscriptions sont
                terminées !!!
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="server-price-wraper">
              <h4 class="xs-title text-center">
                Liste des projets Inscrits
              </h4>
              <div class="table-responsive">
                <table class="table table-striped server-price-table">
                  <thead>
                    <tr>
                      <th scope="col">Nom du Projet</th>
                      <th scope="col">Nom de l'Equipe</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>FAHIA Water Filter</td>
                      <td>FAHIA</td>
                    </tr>
                    <tr>
                      <td>Ma Santé en Poche</td>
                      <td>B-iTech</td>
                    </tr>
                    <tr>
                      <td>Technicien</td>
                      <td>Souleymane</td>
                    </tr>
                    <tr>
                      <td>3S Security</td>
                      <td>3S Security</td>
                    </tr>
                    <tr>
                      <td>
                        Sonnerie et éclairage extérieurs intelligents
                      </td>
                      <td>Innovates Technologies</td>
                    </tr>
                    <tr>
                      <td>Smart irrigation</td>
                      <td>Smart irrigation</td>
                    </tr>
                    <tr>
                      <td>PlastSorting</td>
                      <td>TlS lll</td>
                    </tr>
                    <tr>
                      <td>Tiligré V2</td>
                      <td>Tiligré</td>
                    </tr>
                    <tr>
                      <td>Mnam mve</td>
                      <td>Mnam</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .container END -->
    </section>
    <!-- <section class="xs-section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div
              class="xs-heading wow fadeIn animated"
              style="visibility: visible; animation-name: fadeIn;"
            >
              <h3 class="heading-title">
                <span>Présentation</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="terms-wraper wow fadeInUp animated"
              style="visibility: visible; animation-name: fadeInUp;"
            >
              <p class="text-justify">
                Le championnat des makers est un marathon qui veut en fait
                regrouper les jeunes technophiles autour d’une compétition et
                leurs permettre de libérer leurs génies créateurs dans
                l’innovation. La compétition opposera les universités, les
                écoles techniques et les fablabs du Burkina Faso, le Cameroun, la Côte d'Ivoire et le Rwanda.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <section class="xs-section-padding xs-hosting-info">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div
              class="hosting-info-wraper-2 wow fadeInLeft animated"
              data-wow-duration="1.5s"
              style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;"
            >
              <h2 class="content-title">Présentation de l’évènement</h2>
              <div class="media hosting-info-list">
                <div class="media-body">
                  <h4
                    class="xs-title small text-justify"
                    style="line-height:1.6"
                  >
                    La base du développement d’un pays repose sur sa
                    technologie. Seul le niveau de technologie peut permettre à
                    une nation de faire un bond sur le futur.C’est dans la même
                    optique que yanfoma a décidé de faire la promotion de
                    l’innovation technologique en organisant le Championnat des
                    Makers
                    <br />
                    <br />Le championnat des makers est un marathon qui veut en
                    fait regrouper les jeunes technophiles autour d’une
                    compétition et leurs permettre de libérer leurs génies
                    créateurs dans l’innovation. La compétition opposera les
                    universités, les écoles techniques et les fablabs du Burkina
                    Faso, du Cameroun, de la Côte d'Ivoire et du Rwanda.
                    <br />
                    <br />
                    <strong
                      >Tous les candidats ayant passé la première étape auront
                      des attestations de participation.</strong
                    >
                    <br />
                    <br />
                    <strong
                      >Le vainqueur aura un fond de d'investissement de 1500
                      dollars US (1.500 USD).</strong
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="hosting-info-img wow fadeInRight animated"
              data-wow-duration="2s"
              style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;"
            >
              <img
                src="https://res.cloudinary.com/yanfomaweb/image/upload/v1582807773/Yanfoma/championat_des_Makers_2020_fr.jpg"
                alt="Hosting info image"
                draggable="false"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="xs-section-padding included-feature-list bg-gradient">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div
              class="xs-heading wow fadeIn animated"
              style="visibility: visible; animation-name: fadeIn;"
            >
              <h3 class="heading-title">Programme</h3>
              <h2 class="heading-sub-title">
                Le championnat des Makers se déroulera en plusieurs phases.
              </h2>
            </div>
            <!-- .xs-heading END -->
          </div>
        </div>
        <!-- .row END -->
        <div class="row">
          <div class="col-lg-6">
            <div class="include-feature-list">
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <img
                    src="https://res.cloudinary.com/yanfomaweb/image/upload/v1582805812/Yanfoma/included-feature-5.png"
                    alt="included feature icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title">1- Inscriptions</h4>
                  <p class="text-justify">
                    Cette phase sera dédiée à l’inscription en ligne des
                    différents candidats sur la plateforme de Yanfoma. Vous
                    trouverez le formulaire d'inscription juste en bas.
                    Renseignez tous les champs et votre équipe sera enregistrée.
                  </p>
                  <br />
                  <p>
                    <strong>Date: 15 Mars 2020</strong>
                  </p>
                </div>
              </div>
              <!-- .hosting-info-list END -->
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <img
                    src="https://res.cloudinary.com/yanfomaweb/image/upload/v1582805816/Yanfoma/included-feature-4.png"
                    alt="included feature icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title">2- Eliminatoires</h4>
                  <p class="text-justify">
                    Chaque candidat se tachera d'envoyer une démo de son produit
                    afin que le jury puisse évaluer son niveau de développement
                    et son potentiel.
                  </p>
                  <br />
                  <p>
                    <strong>Date: 31 Mai 2020</strong>
                  </p>
                  <br />
                  <br />
                </div>
              </div>
            </div>
            <!-- .include-feature-list END -->
          </div>
          <div class="col-lg-6">
            <div class="include-feature-list">
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <img
                    src="https://res.cloudinary.com/yanfomaweb/image/upload/v1582805816/Yanfoma/included-feature-4.png"
                    alt="included feature icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title">3- Evaluation Commerciale du Projet</h4>
                  <p class="text-justify">
                    Après les phases éliminatoires, nous lancerons une période
                    de vote en ligne afin qu'un public cible des pays concernés
                    puisse voter les projets en compétition et choisir selon
                    eux, le projet qui pourrait avoir le plus d’impact et dont
                    le produit pourrait être le plus vendu.
                  </p>
                  <br />
                  <p>
                    <strong>Date: 1 Juin 2020</strong>
                  </p>
                </div>
              </div>
              <!-- .hosting-info-list END -->
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <img
                    src="https://res.cloudinary.com/yanfomaweb/image/upload/v1582805820/Yanfoma/included-feature-2.png"
                    alt="included feature icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title">4- Finale</h4>
                  <p class="text-justify">
                    Les projets finalistes seront exposés, chacun dans leur pays
                    et des votes du public se tiendront, dont le total
                    constitura un pourcentage bien défini des notes de la
                    finale. L'evaluation sera faite en fonction du niveau
                    d’amélioration du produit et sur le vote du public.
                  </p>
                  <br />
                  <p>
                    <strong>Date: 9 Octobre 2020</strong>
                  </p>
                </div>
              </div>
            </div>
            <!-- .include-feature-list END -->
          </div>
        </div>
      </div>
      <!-- .container END -->
    </section>
    <!-- <section class="xs-section-padding2 programme" style="background:#e3fafc !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div
              class="xs-heading wow fadeIn animated"
              style="visibility: visible; animation-name: fadeIn;"
            >
              <h3 class="heading-title">
                <span>Programme</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="terms-wraper wow fadeInUp animated"
              style="visibility: visible; animation-name: fadeInUp;"
            >
              <p class="text-center">Le championnat des Makers se déroulera en plusieurs phases.</p>
              <ol class="order-list">
                <li class="text-justify">
                  <strong>Inscriptions</strong>
                  <br />Cette phase sera dédiée à l’inscription en ligne des
                  différents candidats sur la plateforme de Yanfoma.
                  <br />
                  <strong>Date: 15 Mars 2020</strong>
                </li>
                <li class="text-justify">
                  <strong>Eliminatoires</strong>
                  <br />Chaque candidat se tachera d'envoyer une démo de son produit
                  afin que le jury puisse évaluer son niveau de développement et son potentiel.
                  <br />
                  <strong>Date: 31 Mai 2020</strong>
                </li>
                <li class="text-justify">
                  <strong>Evaluation commerciale du projet</strong>
                  <br />Après les phases éliminatoires, nous lancerons une période de
                  vote en ligne afin qu'un public cible des pays concernés puisse voter les projets en
                  compétition et choisir selon eux, le projet qui pourrait avoir le plus d’impact, le projet dont le produit pourrait être le plus vendu et qui pourrait plus facilement porter des fruits.
                  <br />
                  <strong>Date: 1 Juin 2020</strong>
                </li>
                <li class="text-justify">
                  <strong>Finale</strong>
                  <br />Les projets finalistes seront exposés, chacun dans leur pays et des votes du public se tiendront, dont le total constitura un pourcentage bien défini des notes de la finale.
                  Notons que les candidats à la finale seront évalués en fonction du niveau d’amélioration
                  du produit et sur le vote du public.
                  <br />
                  <strong>Date: 9 Octobre 2020</strong>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <!-- <section class="xs-section-padding" id="inscription" v-if="!loading && !done"> -->
    <!-- <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="xs-heading wow fadeIn">
              <h3 class="heading-title">
                Enregistrer
                <span>Votre Equipe</span>
              </h3>
            </div>
          </div>
        </div> -->
    <!-- <form
          action="#"
          method="post"
          class="xs-form"
          v-on:submit.prevent="handleSubmit"
          data-netlify="true"
          data-netlify-honeypot="bot-field"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="hidden" name="form-name" value="contact" />
                <p hidden>
                  <label>
                    Don’t fill this out:
                    <input name="bot-field" />
                  </label>
                </p>
                <label for="projectName">Nom du projet*</label>
                <input
                  type="text"
                  class="form-control"
                  name="projectName"
                  placeholder="Nom du projet"
                  required
                  v-model="formData.projectName"
                />
                <label for="resume">Résumé du projet*</label>
                <textarea
                  class="form-control"
                  rows="5"
                  id="resume"
                  name="resume"
                  v-model="formData.resume"
                  required
                ></textarea>
                <label for="country">Pays*</label>
                <select class="form-control" name="country" v-model="formData.country" required>
                  <option selected value disabled>Pays</option>
                  <option value="Burkina Faso">Burkina Faso</option>
                  <option value="Cameroun">Cameroun</option>
                  <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                  <option value="Rwanda">Rwanda</option>
                </select>
                <input
                  type="hidden"
                  class="form-control"
                  name="university"
                  placeholder="Ecole/Université"
                  value="university"
                  v-model="formData.university"
                />
                <label for="phone">Contact WhatsApp *</label>
                <input
                  type="number"
                  class="form-control"
                  name="phone"
                  placeholder="Numéro de téléphone"
                  required
                  v-model="formData.phone"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="teamName">Nom de votre équipe *</label>
                <input
                  type="text"
                  class="form-control"
                  name="teamName"
                  placeholder="Nom de votre équipe"
                  required
                  v-model="formData.teamName"
                />

                <label for="members">Identité des membres de l'équipes (Nom & Prénoms)*</label>
                <textarea
                  class="form-control"
                  rows="5"
                  id="members"
                  name="members"
                  v-model="formData.members"
                  required
                ></textarea>
                <label for="responsable">Nom & Prénoms du Responsable / Chef de votre équipe *</label>
                <input
                  type="text"
                  class="form-control"
                  name="responsable"
                  placeholder="Nom & Prénoms du Responsable"
                  required
                  v-model="formData.responsable"
                />
                <label for="email">Contact Email *</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Addresse Email"
                  required
                  v-model="formData.email"
                />
              </div>
            </div>
          </div>
          <div class="xs-btn-wraper">
            <input type="submit" class="btn btn-primary" value="Envoyer" />
          </div>
          <section
            class="doneWrapper1"
            style="margin-top:50px; background:#fff3cd !important; padding:40px;! important"
          >
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="xs-heading wow fadeIn">
                    <div class="loader text-center">
                      <i class="fa fa-2x fa-info-circle"></i>
                      <br />
                    </div>
                    <p style="color:black;font-weight:bold;">
                      Votre pays ne se trouve pas sur la liste? c'est pas grave. Ne vous inquiéter pas. Vous pouvez enregistrer votre pays à la compétition. Veuillez continuer la procédure en cliquant sur le lien ci-dessous.
                      <br />
                      <br />
                      <a
                        class="btn btn-primary"
                        href="https://share.hsforms.com/1DLOxZZlVSmy9eNVX5nHBdg407wz"
                      >Enregistrer mon pays a la competition</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form> -->
    <!-- </div>
    </section> -->
    <!-- <Loader v-else-if="loading && !done" /> -->
    <!-- <Done v-else-if="done" :type="doneType" /> -->
    <section class="xs-section-padding" style="background:#e3fafc !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div
              class="xs-heading wow fadeIn animated"
              style="visibility: visible; animation-name: fadeIn;"
            >
              <h2 class="heading-sub-title">Vous avez des Questions?</h2>
              <h3 class="heading-title">
                NOUS
                <span>CONTACTER</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <ContactItem
            title="BURKINA FASO"
            phone="(+226) 78235890 / (+226) 71331523"
          />
          <ContactItem
            title="COTE D'IVOIRE"
            phone="(+225) 08 23 62 20 / (+225) 78 66 86 72"
          />
          <ContactItem title="RWANDA" phone="(+250) 783 213 002" />
          <ContactItem title="CAMEROON" phone="(+237) 6 73 71 31 15" />
        </div>
      </div>
    </section>
  </YanfomaLayout>
</template>

<script>
import Axios from 'axios';
export default {
  metaInfo: {
    title: 'Championat des Makers'
  },
  data() {
    return {
      formData: {
        country: '',
        university: 'university',
        lang: 'fr'
      },
      loading: false,
      done: false,
      doneType: false
    };
  },
  methods: {
    handleSubmit(e) {
      this.loading = true;
      console.log(this.formData);
      Axios.post('https://api.yanfoma.com/candidater', this.formData)
        .then(response => {
          console.log(response);
          this.loading = false;
          this.done = true;
          this.doneType = true;
        })
        .catch(error => {
          console.log(error);
          this.loading = false;
          this.done = true;
          this.doneType = false;
        });
    }
  }
};
</script>

<style>
.server-price-table tr td {
  font-size: 20px !important;
}
.server-price-table th {
  font-size: 20px !important;
  font-weight: bold !important;
}
.banner-title {
  font-size: 50px;
  margin-bottom: 45px;
}
.xs-banner.banner-v3 {
  min-height: 400px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .banner-title {
    font-size: 30px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    width: 500px !important;
    margin-left: -60px !important;
    margin-bottom: 20px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
}

@media (max-width: 1024px) {
  .banner-title {
    font-size: 30px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    width: 500px !important;
    margin-left: -60px !important;
    margin-bottom: 20px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
}

@media (max-width: 768px) {
  .banner-title {
    font-size: 30px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    width: 500px !important;
    margin-left: -60px !important;
    margin-bottom: 20px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .banner-title {
    font-size: 20px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    /* border: 2px solid red; */
    width: 500px !important;
    margin-left: 120px !important;
    margin-bottom: 20px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
}

@media (max-width: 480px) {
  .banner-title {
    font-size: 18px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    /* border: 2px solid red; */
    margin-left: 100px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
}

@media (max-width: 425px) {
  .banner-title {
    font-size: 18px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    /* border: 2px solid red; */
    margin-left: 80px !important;
  }
}

@media (max-width: 360px) {
  .banner-title {
    font-size: 18px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .button {
    margin-left: 10px !important;
  }
}

@media (max-width: 320px) {
  .banner-title {
    font-size: 20px !important;
    margin-top: -100px !important;
    line-height: 2;
    margin-bottom: 20px !important;
  }
  .xs-banner.banner-v3 {
    min-height: 100px !important;
    margin-top: 100px !important;
  }
  .button {
    margin-left: 10px !important;
  }
}
.form-control,
.select-styled {
  border: 1px solid #103dbe !important;
  border-radius: 2px !important;
}
#contact {
  margin-top: 30px;
}
.programme {
  padding: 30px 0px;
}
.terms-wraper p,
.order-list {
  color: black !important;
}
</style>
