<template>
  <YanfomaLayout>

			<!-- contact section -->
			<section class="contact text-center" >
				<div class="container">
					<div class="row">
						<h2>Contact Us</h2>
						<h4>Our teams will be pleased to hear from you through any communication channel.</h4>
						<div class="col-md-6 col-sm-6">
							<div class="single-about-detail clearfix">
								<div class="about-img">
									<!-- <g-image src="~/assets/img/be.png" width="2000"/>
										 -->
								 <div>
									<h3>Head Team</h3>
									<div class="info-detail">
										<ul><li><span>Tel / WhatsApp:</span>&nbsp;  +886 989 597 235</li></ul>
										<ul><li><i class="fa fa-envelope"></i> &nbsp; info@yanfoma.tech</li></ul>
										<ul><li><i class="fa fa-facebook"></i> &nbsp;  <a href="https://www.facebook.com/yanfoma">Like Yanfoma page</a></li></ul>
										<ul><li><i class="fa fa-twitter"></i> &nbsp; <a href="https://twitter.com/yanfoma">@yanfoma</a></li></ul>
										<ul><li><i class="fa fa-linkedin"></i> &nbsp; <a href="https://www.linkedin.com/company/yanfoma/">Follow us on LinkedIn</a></li></ul>
									</div>
								</div>
									
								</div>
							</div>						
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="single-about-detail clearfix">
								<div class="about-img">
									<!-- <g-image src="~/assets/img/be.png" width="2000"/> -->
									<div>
										<h3>Burkina Faso Team</h3>
										<div class="info-detail">
											<ul><li><span>Tel / WhatsApp:</span>&nbsp;  +226 71 33 15 23</li></ul>
											<ul><li><i class="fa fa-envelope"></i> &nbsp; info@yanfoma.tech</li></ul>
											<ul><li><i class="fa fa-facebook"></i> &nbsp;  <a href="https://www.facebook.com/yanfoma.burkina">Like Yanfoma Burkina page</a></li></ul>
											<ul><li><i class="fa fa-twitter"></i> &nbsp; <a href="https://twitter.com/yanfoma">@yanfoma</a></li></ul>
											<ul><li><i class="fa fa-linkedin"></i> &nbsp;  <a href="https://www.linkedin.com/company/yanfoma/">Follow us on LinkedIn</a></li></ul>
										</div>
									</div>	
										
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-4">
							<div class="single-about-detail clearfix">
								<div class="about-img">
									<!-- <g-image src="~/assets/img/be.png" width="2000"/> -->
									<div>
										<h3>Cote d'Ivoire Team</h3>
										<div class="info-detail">
											<ul><li><span>Tel / WhatsApp:</span>&nbsp;  +225 08 23 62 20</li></ul>
											<ul><li><i class="fa fa-envelope"></i> &nbsp; info@yanfoma.tech</li></ul>
											<ul><li><i class="fa fa-facebook"></i> &nbsp;  <a href="https://www.facebook.com/yanfoma.ivoire">Like Yanfoma Cote d'Ivoire page</a></li></ul>
											<ul><li><i class="fa fa-twitter"></i> &nbsp; <a href="https://twitter.com/yanfoma">@yanfoma</a></li></ul>
											<ul><li><i class="fa fa-linkedin"></i> &nbsp;  <a href="https://www.linkedin.com/company/yanfoma/">Follow us on LinkedIn</a></li></ul>
										</div>
									</div>	
										
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-4">
							<div class="single-about-detail clearfix">
								<div class="about-img">
									<!-- <g-image src="~/assets/img/be.png" width="2000"/> -->
									<div>
										<h3>Rwanda Team</h3>
										<div class="info-detail">
											<ul><li><span>Tel / WhatsApp:</span>&nbsp;  +250 783 213 002</li></ul>
											<ul><li><i class="fa fa-envelope"></i> &nbsp; info@yanfoma.tech</li></ul>
											<ul><li><i class="fa fa-facebook"></i> &nbsp;  <a href="https://www.facebook.com/yanfoma.rwanda">Like Yanfoma Rwanda page</a></li></ul>
											<ul><li><i class="fa fa-twitter"></i> &nbsp; <a href="https://twitter.com/yanfoma">@yanfoma</a></li></ul>
											<ul><li><i class="fa fa-linkedin"></i> &nbsp;  <a href="https://www.linkedin.com/company/yanfoma/">Follow us on LinkedIn</a></li></ul>
										</div>
									</div>	
										
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-4">
							<div class="single-about-detail clearfix">
								<div class="about-img">
									<!-- <g-image src="~/assets/img/be.png" width="2000"/> -->
									<div>
										<h3>Cameroon Team</h3>
										<div class="info-detail">
											<ul><li><span>Tel / WhatsApp:</span>&nbsp;  +237 6 73 71 31 15</li></ul>
											<ul><li><i class="fa fa-envelope"></i> &nbsp; info@yanfoma.tech</li></ul>
											<ul><li><i class="fa fa-facebook"></i> &nbsp;  <a href="https://www.facebook.com/yanfoma.cameroon">Like Yanfoma Cameroon page</a></li></ul>
											<ul><li><i class="fa fa-twitter"></i> &nbsp; <a href="https://twitter.com/yanfoma">@yanfoma</a></li></ul>
											<ul><li><i class="fa fa-linkedin"></i> &nbsp;  <a href="https://www.linkedin.com/company/yanfoma/">Follow us on LinkedIn</a></li></ul>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section><!-- end of contact section -->
			
  </YanfomaLayout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Contact Us'
  }
}
</script>

<style>

.home-links a {
  margin-right: 1rem;
}

.contact{
	padding-top: 100px;
}
</style>
