<template>
  <YanfomaLayout>
    <Slider />
    <Services />
    <About
      id="about"
      title="Yanfoma Digital Technology Limited"
      description="We are Yanfoma Digital Technology Limited, a Rwanda-based company founded in 2016. Our mission is to use digital technology to make organisations solve their problems and reach their goals. We do so by developing web media & services, and providing prototyping electronics in Burkina Faso, Cameroon, Cote d'Ivoire and Rwanda."
    />
    <Product
      id="beOnline"
      title="Be Online"
      description="Be Online is a product that will allow you to manage your online presence. Looking for a web developer, buying a domaine name, hosting your website and maintaining it throughout its lifecycle can be a bit complexe for non-tech people. With Be Online, everything is an all-in-one approach"
      image="https://res.cloudinary.com/yanfomaweb/image/upload/v1574982955/be.png"
      link="/web-media-services/be-online"
      color="#e9e7f0"
    />
    <Product
      id="sellOnline"
      title="Yanfoma Soko"
      description="It's an online market place that wants to enable access, sharing and exchange of digital technology, the first online destination for makers, developers, entrepreneurs, technology lovers (geeks).
      It was developed by Yanfoma and wants to offer a wide variety of digital technologies, easy to learn, use, and accessible to all."
      image="https://res.cloudinary.com/yanfomaweb/image/upload/v1575093325/Changing-E-commerce-Landscape-Global-Trends-for-2019-and-Beyond1.jpg"
      link="https://yanfoma.com"
      :inverse="true"
      color="#E3FAFC"
    />
    <ContactWidget id="contact" />
    <SocialWidget />
  </YanfomaLayout>
</template>

<script>
import Slider from "@/components/Slider.vue";

export default {
  metaInfo: {
    title: "Home"
  },
  components: {
    Slider
  }
};
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
#contact {
  margin-top: 30px;
}
</style>
