<template>
  <div>
    <section
      class="call-to-action-section call-to-action-v4 wow fadeIn animated"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="call-to-action-content">
              <h2>{{ title }}<br />Who are we ?</h2>
              <p class="description">{{ description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="icon-bg"
        style="background-image: url(assets/images/icon-bg-4.png)"
      ></div>
    </section>
  </div>
</template>

<script>
export default {
  name: "About",
  props: {
    title: {
      type: String,
      default: "Yanfoma Digital Technology Limited"
    },
    description: String
  }
};
</script>

<style scoped>
.call-to-action-section {
  background-image: url(../assets/images/calltoaction-bg.jpg);
  visibility: visible;
  animation-name: fadeIn;
}
.description {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 14px;
  line-height: 2;
  color: #fff;
}
.hosting-info-wraper-2 .content-title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 85px;
  color: #103dbe;
}
</style>
