<template>
  <div>
    <div class="xs-banner inner-banner contet-to-center">
      <div class="container" style="margin-top: 130px;">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="xs-banner-content">
              <h2
                class="banner-title wow fadeInLeft animated"
                data-wow-duration="1.5s"
              >
                {{ title }}
              </h2>
            </div>
            <!-- .xs-banner-content END -->
          </div>
          <div class="col-lg-6 align-self-end">
            <div class="inner-welcome-image-group pricing-icon">
              <g-image
                src="@/assets/images/innerWelcome/pricing.png"
                alt="hosting image"
                draggable="false"
              />
              <g-image
                src="@/assets/images/innerWelcome/dollar.png"
                class="banner-ico banner-ico-1"
                alt="phone icon"
                draggable="false"
              />
              <g-image
                src="@/assets/images/innerWelcome/euro.png"
                class="banner-ico banner-ico-2"
                alt="phone icon"
                draggable="false"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Pricing",
  props: {
    title: String
  }
};
</script>
<style scoped></style>
