<template>
  <div>
    <section :style="{ backgroundColor: color }">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="xs-heading heading-v1">
              <h3 class="heading-title">
                <span>Get in</span> touch with us wherever you are !!!
              </h3>
            </div>
          </div>
        </div>
        <div class="row style-boxed">
          <ContactItem title="HEAD TEAM" phone="(+886) 989 597 235" />
          <ContactItem title="HEAD TEAM" email="info@yanfoma.tech" />
          <ContactItem title="BURKINA FASO TEAM" phone="(+226) 71 33 15 23" />
          <ContactItem
            title="COTE D'IVOIRE TEAM"
            phone="(+225) 08 23 62 20"
            phone1="(+225) 78 66 86 72"
          />
          <ContactItem title="RWANDA TEAM" phone="(+250) 783 213 002" />
          <ContactItem title="CAMEROON TEAM" phone="(+237) 6 73 71 31 15" />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "contactWidget",
  props: {
    color: {
      type: String,
      default: "rgba(230, 230, 230, 1)"
    }
  }
};
</script>

<style scoped>
section {
  background: rgba(230, 230, 230, 0.3);
  border: 1px solid rgba(230, 230, 230, 1);
}
.heading-title {
  margin-top: 40px;
  margin-bottom: -30px;
}
.xs-service-block {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
</style>
