<template>
  <div class="col-lg-4 col-md-6">
    <template>
      <div class="xs-service-block">
        <div class="service-img">
          <template v-if="phone">
            <g-image
              src="@/assets/images/contact-info-icon-2.png"
              alt="contact info icon"
              draggable="false"
            />
          </template>
          <template v-else>
            <g-image
              src="@/assets/images/contact-info-icon-3.png"
              alt="contact info icon"
              draggable="false"
            />
          </template>
        </div>
        <h4 class="xs-title">{{ title }}</h4>
        <template v-if="email">
          <p>Email: {{ email }}</p>
        </template>
        <template v-if="phone">
          <p>Phone: {{ phone }}</p>
        </template>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "contactItem",
  props: {
    title: String,
    phone: String,
    email: String
  }
};
</script>

<style scoped>
.xs-service-block {
  border: 1px solid #103ebe11;
  color: #103dbe;
  border-radius: 5px;
}
</style>
