<template>
  <div class="doneWrapper">
    <section class="doneWrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto done success" v-if="type">
            <div class="xs-heading wow fadeIn" v-if="lang == 'en'">
              <div class="loader text-center">
                <i class="fa fa-5x fa-check-circle"></i>
                <br />
              </div>
              <h3 class="heading-title">
                <span>Sent successfully</span>
              </h3>
              <p>
                An email has been sent to you with the summary of your
                application.
                <br />Thanks for your participation
              </p>
            </div>
            <div class="xs-heading wow fadeIn" v-else>
              <div class="loader text-center">
                <i class="fa fa-5x fa-check-circle"></i>
                <br />
              </div>
              <h3 class="heading-title">
                <span>Envoyé avec Succès</span>
              </h3>
              <p>
                Un mail vous a été envoyé avec le récapitulatif de votre
                candidature.
                <br />Merci de Votre Participation
              </p>
            </div>
          </div>
          <div class="col-md-12 mx-auto done error" v-else>
            <div class="xs-heading wow fadeIn" v-if="lang == 'en'">
              <div class="loader text-center">
                <i class="fa fa-5x fa-times-circle"></i>
                <br />
              </div>
              <h3 class="heading-title">
                <span>An error occurred</span>
              </h3>
              <p>Please Try Again</p>
            </div>
            <div class="xs-heading wow fadeIn" v-else>
              <div class="loader text-center">
                <i class="fa fa-5x fa-times-circle"></i>
                <br />
              </div>
              <h3 class="heading-title">
                <span>Une erreur est survenue</span>
              </h3>
              <p>Veuillez ressayer</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Done",
  props: {
    type: Boolean,
    lang: String
  }
};
</script>
<style scoped>
.doneWrapper {
  height: 400px;
  margin-top: 40px;
}
.done {
  flex: 1;
  margin: 5px !important;
  padding: 15px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.success .heading-title span,
.success i {
  color: rgb(6, 148, 6) !important;
}
.success {
  background: rgb(195, 224, 195);
  border: 3px solid rgb(91, 184, 91);
}
.error {
  background: rgb(248, 204, 204);
  border: 3px solid rgb(248, 109, 109);
}
.error .heading-title span,
.error i {
  color: red !important;
}
.done p {
  color: black;
}
</style>
