<template>
  <div>
    <footer class="xs-footer-section">
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="copyright-text wow fadeInUp">
                <p>
                  Copyright &copy;
                  <span class="copy_year"></span>
                  <a href="https://yanfoma.tech">
                    Yanfoma Digital Technology Limited</a
                  >. All Rights Reserved
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="social-list-wraper wow fadeInUp"
                data-wow-duration="1.3s"
              >
                <ul class="social-list">
                  <li>
                    <a
                      href="https://www.facebook.com/yanfoma/"
                      target="_blank"
                      class="facebook"
                    >
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://twitter.com/yanfoma"
                      class="twitter"
                      target="_blank"
                    >
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/in/yanfoma-digital-technology-limited-958054145/"
                      class="linkedin"
                      target="_blank"
                    >
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.social-list li a {
  border: 1px solid #00eaff;
  color: #00eaff;
}

.social-list li a:hover {
  border: 1px solid #fff;
  color: #fff;
}

.copyright-text p a {
  color: #00eaff;
  font-weight: bold;
}

.copyright-text p {
  font-size: 20px;
}
</style>
