<template>
  <div class="loader">
    <section class="loading">
      <div class="container" style="height=200px;">
        <div class="loader text-center">
          <i class="fa fa-3x fa-spin fa-spinner"></i>
          <br />
          <p>Envoie en cours ...</p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Loader'
};
</script>
<style scoped>
.loading {
  height: 400px;
  padding: 10%;
  flex: 1;
}
.loader i,
p {
  color: #103dbe;
}
</style>
