<template>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #fff;">
    <a class="navbar-brand" href="/">
      <g-image src="@/assets/images/logo.png" width="180" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li>
          <a class="menu active" href="/#home">Home</a>
        </li>
        <li>
          <a class="menu" href="/#about">About us</a>
        </li>
        <li>
          <a class="menu" href="/#beOnline">Be Online</a>
        </li>
        <li>
          <a class="menu" data-easing="linear" href="/#sellOnline">Yanfoma Soko</a>
        </li>
        <li>
          <a class="menu" href="/championat">Championnat Des Makers</a>
        </li>
        <li>
          <a class="menu" href="/#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {};
</script>

<style>
.navbar {
  border: 3px solid #fff;
  -webkit-box-shadow: -4px 6.928px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 6.928px 25px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 300px;
}
.navbar .navbar-nav > li > a {
  font-size: 18px !important;
  font-weight: bolder;
  padding: 14px 15px;
  color: #000 !important;
}

.navbar .navbar-nav > li > a:hover {
  color: #103dbe !important;
}

.navbar .navbar-nav > li > .active {
  color: #103dbe !important;
}
</style>
