<template>
  <div>
    <section class="xs-section-padding" :style="{ backgroundColor: color }">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div
              class="xs-heading wow fadeIn animated"
              style="visibility: visible; animation-name: fadeIn;"
            >
              <h3 class="heading-title">Our <span>Portfolio</span></h3>
            </div>
          </div>
        </div>

        <div class="row">
          <PortfolioItem title="Afrik Eveil" link="https://afrikeveil.org" />
          <PortfolioItem title="Yanfoma Soko" link="https://yanfoma.com" />
          <PortfolioItem title="Lafina" link="https://lafinat.yanfoma.net" />
          <PortfolioItem
            title="ETLF Logistics"
            link="https://etlf-sarl.yanfoma.net"
          />
          <PortfolioItem title="Pavci" link="https://pavci.yanfoma.net" />
          <PortfolioItem title="Akili Faso" link="https://akilifaso.web.app" />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Portfolio',
  props: {
    color: {
      type: String,
      default: 'rgba(230, 230, 230, 1)'
    }
  }
};
</script>

<style scoped></style>
