<template>
  <div class="col-lg-4 col-md-6 portfolioItem">
    <div class="post format-standard">
      <div class="post-media">
        <g-image
          :src="image"
          class="image"
          alt="hosting blog images"
          draggable="false"
        />
      </div>
      <div class="post-body">
        <div class="entry-header">
          <h2 class="entry-title text-center">
            <a :href="link">{{ title }}</a>
          </h2>
          <div class="entry-content"></div>
          <div class="post-footer">
            <div class="row">
              <div class="col-md-9">
                <a :href="link" class="simple-btn icon-right"
                  >Read More<i class="icon icon-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PortfolioItem',
  props: {
    title: String,
    link: String,
    image: {
      type: String,
      default:
        'https://res.cloudinary.com/yanfomaweb/image/upload/v1575089945/blogs-9.jpg'
    }
  }
};
</script>

<style scoped>
.post-body {
  border: 1px solid #e9e7f0;
  border-radius: 8px;
}
.portfolioItem {
  margin-bottom: 50px;
}
.post-body {
  background-color: #f8fafe;
  padding: 20px !important;
}

.image {
  border-radius: 8px;
}
</style>
