<template>
  <div>
    <section
      :style="{ backgroundColor: color }"
      class="pricing-section shuffle-title xs-section-padding"
    >
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="xs-heading heading-v2">
            <h3 class="heading-title">
              Yanfoma offers "Be Online", an offer that aims
              <span>to meet your online presence needs.</span> This offer comes
              in 3 plans to choose from.
            </h3>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 xs-pricing-group">
            <ul
              class="nav nav-tabs main-nav-tab wow fadeIn tab-v3"
              role="tablist"
            >
              <li class="pricingTitle">
                Be Online Plan Type
              </li>
            </ul>
            <div class="tab-content pricing-v5">
              <div
                class="tab-pane fadeIn animated show active"
                id="monthly"
                role="tabpanel"
                aria-labelledby="monthly-tab"
              >
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-single-pricing">
                      <div class="pricing-header">
                        <div class="pricing-img-block">
                          <g-image
                            src="@/assets/images/pricing.svg"
                            alt="yanfoma pricing image"
                          />
                        </div>
                        <h4 class="xs-title">Business</h4>
                      </div>
                      <div class="pricing-body">
                        <p>Web Content Managment</p>
                        <p>Custom domain (.com, .org, .net)</p>
                        <p>SSl Security</p>
                        <p>Hosting</p>
                        <br />
                        <div class="pricing-price">
                          <h2><sup>$</sup>80<span> USD</span></h2>
                        </div>
                      </div>
                      <div class="pricing-footer">
                        <a href="#" class="btn btn-primary">Per Year</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-single-pricing active">
                      <div class="pricing-header">
                        <div class="pricing-img-block">
                          <g-image
                            src="@/assets/images/pricing.svg"
                            alt="yanfoma pricing image"
                          />
                        </div>
                        <h4 class="xs-title">Basic</h4>
                      </div>
                      <div class="pricing-body">
                        <p>Web Content Managment</p>
                        <p>Subdomain yanfoma.net</p>
                        <p>SSl Security</p>
                        <p>Hosting</p>
                        <br />
                        <div class="pricing-price">
                          <h2><sup>$</sup>0<span> USD</span></h2>
                        </div>
                      </div>
                      <div class="pricing-footer">
                        <a href="#" class="btn btn-primary">Free</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-single-pricing">
                      <div class="pricing-header">
                        <div class="pricing-img-block">
                          <g-image
                            src="@/assets/images/pricing.svg"
                            alt="yanfoma pricing image"
                          />
                        </div>
                        <h4 class="xs-title">Premium</h4>
                      </div>
                      <div class="pricing-body">
                        <p>Custom Web Design</p>
                        <p>Self Web Content Managment</p>
                        <p>
                          Custom domain for ten years <br />(.com, .org, .net)
                        </p>
                        <p>SSl Security / Hosting</p>
                        <div class="pricing-price">
                          <h2><sup>$ </sup>1500<span> USD</span></h2>
                        </div>
                      </div>
                      <div class="pricing-footer">
                        <a href="#" class="btn btn-primary">
                          One Time Payment</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Pricing",
  props: {
    color: {
      type: String,
      default: "rgba(230, 230, 230, 1)"
    }
  }
};
</script>
<style scoped>
.pricing-price h2 span {
  font-size: 25px;
}
.xs-title {
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}
.pricingTitle {
  text-transform: uppercase;
  color: #24146d;
  font-weight: bolder;
}
.xs-single-pricing {
  border-radius: 8px;
  border: 2px solid transparent;
}
.xs-single-pricing:hover {
  border: 2px solid #00eaff;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(23, 104, 221, 0.1);
  box-shadow: 0px 10px 15px 0px rgba(23, 104, 221, 0.1);
}
</style>
