<template>
  <div>
    <section class="xs-section-padding" :style="{ backgroundColor: color }">
      <div class="container">
        <div class="row">
          <template v-if="inverse">
            <div class="col-lg-7">
              <div
                class="hosting-info-img wow fadeInRight"
                data-wow-duration="2s"
              >
                <a :href="link">
                  <g-image :src="image" class="image" width="2000" />
                </a>
              </div>
            </div>
            <div class="col-lg-5">
              <div
                class="hosting-info-wraper-2 wow fadeInLeft"
                data-wow-duration="1.5s"
              >
                <h2 class="content-title">{{ title }}</h2>
                <div class="media hosting-info-list">
                  <div class="media-body text-justify">
                    <p>{{ description }}</p>
                  </div>
                </div>
                <a :href="link" class="btn btn-primary">Get Started</a>
              </div>
            </div>
          </template>
          <template v-else>
            <div class="col-lg-5">
              <div
                class="hosting-info-wraper-2 wow fadeInLeft"
                data-wow-duration="1.5s"
              >
                <h2 class="content-title">{{ title }}</h2>
                <div class="media hosting-info-list">
                  <div class="media-body text-justify">
                    <p>{{ description }}</p>
                  </div>
                </div>
                <a :href="link" class="btn btn-primary">Get Started</a>
              </div>
            </div>
            <div class="col-lg-7">
              <div
                class="hosting-info-img wow fadeInRight"
                data-wow-duration="2s"
              >
                <a href="/web-media-services/be-online">
                  <g-image :src="image" class="image" width="2000" />
                </a>
              </div>
            </div>
          </template>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { bool } from 'prop-types';
export default {
  name: 'Product',
  props: {
    title: String,
    description: String,
    image: String,
    link: String,
    inverse: Boolean,
    color: String
  }
};
</script>

<style scoped>
.media-body p {
  font-size: 20px;
}

.image {
  border-radius: 10px;
}

.hosting-info-wraper-2 .content-title {
  margin-bottom: 20px;
  font-size: 60px;
  color: #103dbe;
}

@media (max-width: 990px) {
  .hosting-info-wraper-2 .content-title {
    font-size: 65px;
  }
}

@media (max-width: 800px) {
  .hosting-info-wraper-2 .content-title {
    font-size: 65px;
  }
}
</style>
