<template>
  <div>
    <section class="xs-section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div
              class="hosting-info-img wow fadeInRight"
              data-wow-duration="2s"
            >
              <a to="/web-media-services/sell-online">
                <g-image src="~/assets/images/sell.png" width="2000" />
              </a>
            </div>
          </div>
          <div class="col-lg-5">
            <div
              class="hosting-info-wraper-2 wow fadeInLeft"
              data-wow-duration="1.5s"
            >
              <h2 class="content-title">Sell Online</h2>
              <div class="media hosting-info-list">
                <div class="media-body text-justify">
                  <p>
                    In this information age, a business should understand that
                    their prospects and customers are online. Being online is
                    not enough for a business, it also needs to sell. That's the
                    purpose of Sell Online, an eBusiness product that will allow
                    to easily sell your products on the internet.
                  </p>
                </div>
              </div>
              <a to="/web-media-services/sell-online" class="btn btn-primary"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'sellOnlineSection'
};
</script>

<style scoped>
.media-body p {
  font-size: 20px;
}
.hosting-info-wraper-2 .content-title {
  margin-bottom: 20px;
  font-size: 85px;
  color: #103dbe;
}
</style>
