<template>
  <div>
    <section class="why-choose-section xs-section-padding xs-bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div
              class="xs-heading wow fadeIn animated"
              style="visibility: visible; animation-name: fadeIn;"
            >
              <h3 class="heading-title">
                Our Mission is to use <span> Digital Technology </span> to make
                organisations solve their problems and reach their goals.
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div
              class="why-choose-us-block wow fadeInUp animated"
              style="visibility: visible; animation-name: fadeInUp;"
            >
              <div class="choose-us-img">
                <g-image
                  src="@/assets/images/affiliate-works/affiliate-works-1.png"
                  alt="hostinza hosting image"
                  draggable="false"
                />
              </div>
              <h4 class="xs-title">Consulting</h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
              class="why-choose-us-block wow fadeInUp animated"
              data-wow-duration="1.5s"
              style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;"
            >
              <div class="choose-us-img">
                <g-image
                  src="@/assets/images/service/service-2.png"
                  alt="hostinza hosting image"
                  draggable="false"
                />
              </div>
              <h4 class="xs-title">Internet of Things</h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
              class="why-choose-us-block wow fadeInUp animated"
              data-wow-duration="2s"
              style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;"
            >
              <div class="choose-us-img">
                <g-image
                  src="@/assets/images/affiliate-works/affiliate-works-3.png"
                  alt="hostinza hosting image"
                  draggable="false"
                />
              </div>
              <h4 class="xs-title">eBusiness</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Services"
};
</script>

<style scoped>
.heading-title {
  font-size: 30px !important;
}
.xs-section-padding {
  padding: 40px;
}
</style>
