<template>
  <div class="bd-example" id="home">
    <div
      id="carouselExampleCaptions"
      class="carousel slide carousel-fade"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleCaptions"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <g-image
            src="~/assets/images/slide1.jpg"
            class="d-block w-100"
            width="2000"
          />
          <div class="carousel-caption">
            <h1>web</h1>
            <p>we develop web media & services</p>
          </div>
        </div>
        <!-- <div class="carousel-item">
          <g-image
            src="~/assets/images/slide2.jpg"
            class="d-block w-100"
            width="2000"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>AI</h1>
            <p>WE ANALYZE YOUR DATA TO BRING VALUE TO YOUR ORGANIZATION</p>
          </div>
        </div> -->
        <!-- <div class="carousel-item">
          <g-image
            src="~/assets/images/slide3.jpg"
            class="d-block w-100"
            width="2000"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>BLOCKCHAIN</h1>
            <p>
              WE ADVICE YOUR ORGANIZATION IN YOUR DITRIBUTED LEDGER STRATEGY
            </p>
          </div>
        </div> -->
        <div class="carousel-item">
          <g-image
            src="~/assets/images/slide4.jpg"
            class="d-block w-100"
            width="2000"
          />
          <div class="carousel-caption">
            <h1>IOT</h1>
            <p>
             we provide prototyping electronics
            </p>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleCaptions"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleCaptions"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
#home {
  margin-top: 100px;
}
.carousel-caption h1 {
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;

}
.carousel-caption p {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  /* margin-top: 0; */
}
.carousel-control-next,
.carousel-control-prev {
  height: 40px;
  width: 40px;
  padding: 12px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background-color: blue;
}

@media (max-width:800px){
    .carousel-caption h1 {
      font-size: 50px;

    }
    .carousel-caption p {
      font-size: 30px;
    }
}

@media (max-width:600px){
    .carousel-caption h1 {
      font-size: 40px;

    }
    .carousel-caption p {
      font-size: 20px;
    }
}

</style>
