<template>
  <div class="social">
    <section class="call-to-action-section wow fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="call-to-action-content">
              <h2>Follow Us On Facebook and Join our Groups</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="icon-bg"></div>
    </section>
    <div class="xs-feature-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div
              class="xs-feature-group wow fadeInLeft animated"
              style="visibility: visible; animation-name: fadeInLeft;"
            >
              <div class="media">
                <div class="feature-img d-flex">
                  <g-image
                    src="~/assets/images/service/service-12.png"
                    alt="hosting feature img"
                    draggable="false"
                  />
                </div>
                <div class="media-body feature-content">
                  <h4 class="xs-title">Facebook Page</h4>
                  <p>
                    Follow us on facebook to be updated with all events and
                    products launch happening at yanfoma.
                  </p>
                  <div class="xs-btn-wraper">
                    <a
                      href="https://www.facebook.com/yanfoma/"
                      target="_blank"
                      class="btn btn-secondary"
                      >Follow</a
                    >
                  </div>
                </div>
              </div>
              <span class="icon icon-dollar watermark-icon"></span>
            </div>
            <!-- .xs-feature-group END -->
          </div>
          <div class="col-lg-6">
            <div
              class="xs-feature-group wow fadeInRight animated"
              style="visibility: visible; animation-name: fadeInRight;"
            >
              <div class="media">
                <div class="feature-img d-flex">
                  <g-image
                    src="~/assets/images/service/service-12.png"
                    alt="hosting feature img"
                    draggable="false"
                  />
                </div>
                <div class="media-body feature-content">
                  <h4 class="xs-title">Facebook Group</h4>
                  <p>
                    Join our group to get involved in interresting disscussions
                    and get to know our community all around the world
                  </p>
                  <div class="xs-btn-wraper">
                    <a
                      href="https://www.facebook.com/groups/yanfoma.soko/?source_id=904887506219987"
                      target="_blank"
                      class="btn btn-secondary"
                      >Join Us</a
                    >
                  </div>
                </div>
              </div>
              <span class="icon icon-key3 watermark-icon"></span>
            </div>
            <!-- .xs-feature-group END -->
          </div>
        </div>
        <!-- .row END -->
      </div>
      <!-- .container END -->
    </div>
  </div>
</template>

<script>
export default {
  name: "contactWidget",
  props: {
    marginBottom: String
  }
};
</script>

<style scoped>
.social {
  margin-bottom: 20px;
}
.icon-bg {
  background-image: url(../assets/images/icon-bg.png);
}
</style>
