<template>
  <div class="xs-section-padding2" :style="{ backgroundColor: color }">
    <section class="xs-section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div
              class="hosting-info-wraper-2 wow fadeInLeft animated"
              data-wow-duration="1.5s"
              style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;"
            >
              <h2 class="content-title">
                Why Having a Showcase Web site Is Important?
              </h2>
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <g-image
                    src="@/assets/images/info/gaurd-icon.png"
                    alt="hosting info icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title small">
                    You become more credible and professional
                  </h4>
                  <p>
                    Customers or partners trust a website more than a facebook
                    page.
                  </p>
                </div>
              </div>
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <g-image
                    src="@/assets/images/info/cloud-icon.png"
                    alt="hosting info icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title small">
                    You can have more customers especially from abroad
                  </h4>
                  <p>
                    The website is the best way to benefit from globalization.
                  </p>
                </div>
              </div>
              <div class="media hosting-info-list">
                <div class="d-flex info-icon">
                  <g-image
                    src="@/assets/images/info/clock-icon.png"
                    alt="hosting info icon"
                    draggable="false"
                  />
                </div>
                <div class="media-body">
                  <h4 class="xs-title small">
                    You have a Virtual assistant 24h / 7 days
                  </h4>
                  <p>
                    The website can do activities such as giving information to
                    interested people and making sales ....
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="hosting-info-img wow fadeInRight animated"
              data-wow-duration="2s"
              style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;"
            >
              <g-image
                src="@/assets/images/info/info-img-3.png"
                alt="Hosting info image"
                draggable="false"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "WebShowcase",
  props: {
    color: {
      type: String,
      default: "rgba(230, 230, 230, 1)"
    }
  }
};
</script>
<style scoped>
.xs-section-padding2 {
  padding: 50px 0;
}
</style>
